@tailwind base;
@tailwind components;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

[data-theme="dark"] {
  --primary-color: #384aff;
  --bg-color: #211f24;
  --text-color: #8b949e;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #2d2d2d;
  --header-bg: #1c1b20;
  --block-bg: transparent;
  --shadow-color: #fff1;
}

[data-theme="light"] {
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #444444;
  --heading-color: #111111;
  --border-color: #e0e0e0;
  --header-bg: white;
  --block-bg: transparent;
  --shadow-color: #0001;
}

@layer base {
  @font-face {
    font-family: "Calibre";
    src: url("/assets/fonts/Calibre-Medium-Custom.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("/assets/fonts/Calibre-Semibold-Custom.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "SpaceMono";
    src: url("/assets/fonts/space-mono-v11-latin-700.woff2") format("woff2");
  }

  #__next {
    @apply bg-skin-bg font-sans text-base text-skin-text antialiased;
  }

  body {
    overflow-x: hidden;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply my-2 text-lg;
  }
  h4 {
    @apply text-md;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-skin-heading;
  }

  a,
  button,
  input {
    @apply transition-colors;
  }

  b {
    @apply font-semibold;
  }

  select {
    @apply bg-skin-bg;
  }
}
